/* //Author: Joe Maifeld. Component actions:styling for the task list */

.task-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    max-width: 60vw;
    min-width: 50%;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    border-left: 6px black solid;
    border-right: 6px black solid;
    box-shadow: 5px 5px 5px 5px black;
    background-color: #30415d;
    font-size: 22px;
    padding: 1em;
}

.list__fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
    border-bottom: 6px #30415d solid;
    justify-items: center;
}

.list__content {
    width: 100%;
    display: flex;
}

.list__item {
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
    padding-bottom: .3em;
    border-bottom: 3px #30415d solid;
}

.list__item__name {
    width: 37%;
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
    border-bottom: 3px #30415d solid;
    padding-bottom: .3em;
    align-items: center;
}

.list__item__date {
    width: 29%;
    display: flex;
    padding-bottom: .3em;
    justify-content: center;
    margin-bottom: .5em;
    border-bottom: 3px #30415d solid;
}

.list__header {
    font-size: 40px;
}

.add__button {
    margin: 50px auto;
    display: block;
    width: 180px;
    height: 50px;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    background-color: crimson;
    font-weight: bold;
    font-size: large;
    transition: background-color 1s, color 1s
}

.add__button:hover {
    background-color: white;
    cursor: pointer
}