/* Author: Joe Maifeld. Component actions:styling for the task form */

.taskForm {
    display: flex;
    background-color: #B4C5E4;
    align-items: center;
    min-width: 100%;
    max-width: 50em;

}

.taskFrom__title {}

.form-group {}

.btn {}

.edit-form {}

.form-control {}

.dateDue {}

.btn {}