/* //Author: Joe Maifeld. Component actions:styling for the task cards */

.card-content {
    box-shadow: 4px 4px 4px 4px black;
    min-width: 95%;
    height: 3em;
    display: flex;
    align-items: center;
    margin: 1em;
    width: 15em;
    background-color: #031424;
    border: 10px black;
    border-radius: 5px;
    justify-content: center;
}

.card-link {
    display: grid;
    grid-template-areas: 'name date status';
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    justify-items: center;
}

.card-link:hover {
    transform: none;
    background-color: rgb(100, 106, 153);
    font-weight: 600;
}

.card-name {
    grid-area: name;

}

.card-date {
    grid-area: date;
}

.card-status {
    grid-area: status;
}

.check {
    color: lightgreen;
}