* {
    box-sizing: border-box;
}

.message-wrap {
    padding: 5px;
}

.userMessage-wrap {
    padding: 5px;
}
.sent-details {
    display: flex;
}

.message-name {
    padding-right: 10px;
}

/* .message-input {
    display: flex;
    position:sticky;
    bottom: 50px;

} */