* {
    box-sizing: border-box;
}


.message-container {
    border: 1px solid black;
    height: 750px;
    overflow: auto;
}

.message-wrap {
    padding: 5px;
}

.userMessage-wrap {
    padding: 5px;
}

.sent-details {
    display: flex;
}

.message-name {
    padding-right: 10px;
}

.message-name:hover {
    cursor: pointer;
}

#content {
    width: 100%;
}

.btn {
    background: #3C91E6;
    background-image: -webkit-linear-gradient(top, #3C91E6, #2980b9);
    background-image: -moz-linear-gradient(top, #3C91E6, #2980b9);
    background-image: -ms-linear-gradient(top, #3C91E6, #2980b9);
    background-image: -o-linear-gradient(top, #3C91E6, #2980b9);
    background-image: linear-gradient(to bottom, #3C91E6, #2980b9);
    border-radius: 45px;
    box-shadow: 0px 1px 10px #3C91E6;
    font-family: Georgia;
    color: #26C485;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    max-width: 8em;
    max-height: 4em;


}

.btn:hover {
    background: #B4C5E4;
    background-image: -webkit-linear-gradient(top, #B4C5E4, #3498db);
    background-image: -moz-linear-gradient(top, #B4C5E4, #3498db);
    background-image: -ms-linear-gradient(top, #B4C5E4, #3498db);
    background-image: -o-linear-gradient(top, #B4C5E4, #3498db);
    background-image: linear-gradient(to bottom, #B4C5E4, #3498db);
    text-decoration: none;
}

.forum-header {
    background-color: #B4C5E4;
}