* {
    box-sizing: border-box;
}


.message-container {
    border: 1px solid black;
    height: 750px;
    overflow: auto;
}

.message-wrap {
    padding: 5px;
}

.userMessage-wrap {
    padding: 5px;
}

.sent-details {
    display: flex;
}
.message-name {
    padding-right: 10px;
}

#content {
    width: 100%;
}